{% extends "bases.html" %}
{% comment %} # Admin@2024 {% endcomment %}
{% block content %}

<div class="container mt-5">
  <div class="jumbotron text-center">
      <h1 class="display-4">Bienvenue sur mon blog!</h1>
      <p class="lead">Découvrez des articles passionnants sur divers sujets.</p>
      <hr class="my-4">
      <p>Nous espérons que vous apprécierez votre visite.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'blog' %}" role="button">Voir les articles</a>
  </div>
</div> 
</div>

{% endblock %}
